<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<%- partial('_partial/head') %>
<body class="max-width mx-auto px3 <%- theme.direction -%>">
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_desktop') %>
    <% } %>
    <div class="content index py4">
        <% if (!is_post()) { %>
          <%- partial('_partial/header') %>
        <% } %>
        <%- body %>
        <% if (is_post()) { %>
          <%- partial('_partial/post/actions_mobile') %>
        <% } %>
        <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/styles') %>
    <%- partial('_partial/scripts') %>


<script async type="text/javascript">
    var vglnk = {key: '42dfcc8ca467780f3af68d564b54a346'};
    (function(d, t) {
        var s = d.createElement(t);
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//cdn.viglink.com/api/vglnk.js';
            var r = d.getElementsByTagName(t)[0];
            r.parentNode.insertBefore(s, r);
    }(document, 'script'));
</script>
    </body>
</html>
